@import url('https://googleapis.com');

header{
    display:flex;
    justify-content: center;
    background-color: rgb(169, 211, 240);
}
body{
    background-color: rgb(148, 212, 255);
        font-family: 'Comic Relief', sans-serif;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divtxt{
    
    margin: auto ;
    width: 50%;
}

.divimg{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Comic Relief', sans-serif;
}

.divsub{
    display: flex;
    justify-content: center;
}

.divp{
    width: 70%;          
    margin: 0 auto;        /* Centra el bloque contenedor horizontalmente */
    text-align: center;
}

.imgfin{
    
  text-align: center;
}

